version: '3.8'
services:
  swarmsdiscord:
    image: ghcr.io/kav-k/swarmsdiscord:main-full
    container_name: swarmsdiscord
    volumes:
      #replace left side with the path to your .env if different, this uses the env in the folder the docker-compose.yml is in
      - ./.env:/opt/swarmsdiscord/etc/environment
      # Replace the left side with a path on your hard drive where you want to store the data for both of these to keep persistence
      # .env add DATA_DIR=/data
      - /containers/swarmsdiscord:/data
      # .env add SHARE_DIR=/data/share
      - /containers/swarmsdiscord/share:/data/share
    restart: always
